.shoper{
  width: 60rem;
  border-radius: 5px;
  
}
.division{
/* margin-left: 30rem; */
flex-direction: row;
justify-content: space-around;
display: flex;
padding: 6rem;
margin-top: 6rem;
}
.header1{
  font-size: 3rem;
  font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 200;
  margin-right: 10rem;
}
.header2{
  /* margin-right: 20rem ; */
  max-width: 20vw;
}
.spanish2{
  color: #E02B20 !important;
  border-width: 0px !important;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif !important;
  background-color: rgba(224, 43, 32, 0.04);
  padding: 4.5px 15px;
  cursor: pointer;
  height: 3rem;
  font-weight: 600;
}
.disr{
  display: grid ;
  /* align-items: center; */
  grid-template-columns:repeat(5, 1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  padding: 1.6rem;
}
.imag{
  width: 160px;
  height: 160px;
  display: block;
  transition: all 0.4s;
  cursor: pointer;
  margin-bottom: 4rem;
}
.container{
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.pea{
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.1em;
  text-align: center;
}
.image{
  display: grid;
  width: 100%;
  height: 20vh;
  border-radius: 20px;
  cursor: pointer;
  
}
.sector{
background-color: rgb(247, 247, 247);
margin-top: 40rem;

}


.head1{
  text-align: center;
  font-size: 3rem;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
  margin-top: 5rem;
}


.sect{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7rem;
  margin-top: 6rem;
}



.word1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
column-gap: 2rem;
row-gap: 4rem;
padding: 1.6rem;
}

.division2 {
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

.imas { 
width: 65%;
object-fit: cover;
border-radius: 20px;

}

.spanish3 {
margin: 1rem 0;
line-height: 1.5rem;
color: red;
font-size: 2.3rem;
font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}

.header3 {
margin: 1rem 0;
font-size: 1.6rem;
font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
color: black;
font-weight: 500;
}

.bott {
background-color: red;
color: white;
border: none;
width: 10rem;
height: 4.3rem;
margin: 1rem 0;
border-radius: 5px;
font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}

.apel{
color: rgb(94, 92, 92);
font-size: 1.6rem;
 margin-top: 1.5rem;
 font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}
.sector3{

}
.header4{
color: black;
font-weight: 800;
text-align: center;
font-size: 2.5rem;
font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
margin-top: 5rem;
}
.spanish6{
color: black;
text-align: center;
font-size: 2rem;
font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}
.division5{
display: flex;
flex-direction: row;
justify-content: center;
gap: 2rem;
margin-top: 3rem;
}
.input-form{
background-color: black;
height: 4.7rem;
width:30rem;
border: none;
padding: 16px;
color: white;
outline: none;
}
.input-form::placeholder{
color: white;
font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
font-size: 1.4rem;
}
.ok{
text-align: center;
margin-top: 1.3rem;
margin-left: 18.5rem;
}
.divison7{
display: flex;
flex-direction: row;
justify-content: center;
padding-left: 20rem;
font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
font-weight: 200;
font-size: 10px;
margin-top: 10px;
color: rgb(102, 102, 100);
}
.form{
background-color: black;
color: white;
width: 50px;
border: none;
outline: none;
height: 45px;
padding: 16px;
margin-left: 20px;

}
.botox{
color: white;
background-color: red;
box-shadow: rgba(224, 43, 32, 0.04);
border: none;
border-radius: 5px;
margin-left: 20px;
height: 45px;
width: 110px;
font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
font-size: 1.5rem;
font-weight: 700;
cursor: pointer;
}
.secst{
background-color: rgb(88, 87, 87);
height: 15rem;
padding: 60px;
}
.division10{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.header10{
color: white;
font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
/* margin-left: 20rem; */
font-size: 3rem;
margin-bottom: 15px;
}
.header11{
color: white;
font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
font-size: 15px

}
.bottox{
color: rgb(88, 87, 87);
width: 10%;
border: none;
border-radius: 6px;
font-size: 2rem;
font-weight: 200;
font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}